@import "tailwindcss";

/* @theme is a Tailwind v4 feature. 
  We tell it to use "class" strategy for dark mode (so we can toggle it).
*/
@theme {
  --color-display-p3: P3;
}

/* Here we force the body to ALWAYS have the cool gradient.
  @apply allows us to use Tailwind classes inside standard CSS.
*/
body {
  @apply min-h-screen 
         bg-gradient-to-br from-purple-500 via-pink-500 to-fuchsia-600 
         dark:bg-gradient-to-br dark:from-gray-900 dark:via-gray-800 dark:to-black 
         text-gray-900 dark:text-gray-100 
         transition-all duration-500;
}